body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f3f3f3;

  display: flex;
  justify-content: center; /* căn ngang */
  align-items: center; /* căn dọc */
  min-height: 100vh; /* full chiều cao màn hình */
}
display: flex;
justify-content: center; /* căn ngang */

.hero {
  background: #198754;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.section {
  padding: 40px 20px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background: white;
  color: #198754;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
.container {
  width: 100%;
  max-width: 400px; /* giống điện thoại hơn */
  background: white;
  min-height: 100vh;
}
